[mysqld]
back_log=600
max_connections=3000
max_allowed_packet=16M
sort_buffer_size=4M
join_buffer_size=4M

query_cache_size=0
query_cache_type=0
INNODB_BUFFER_POOL_SIZE=1.8G
INNODB_LOG_FILE_SIZE=300M
INNODB_FLUSH_LOG_AT_TRX_COMMIT=2
INNODB_FLUSH_METHOD=O_DIRECT
INNODB_THREAD_CONCURRENCY=128
