[mysqld]
back_log = 600
max_connections = 3000
max_allowed_packet = 16M
sort_buffer_size = 4M
join_buffer_size = 4M

query_cache_size = 0
query_cache_type = 0
innodb_buffer_pool_size = 1800M
innodb_log_file_size = 300M

innodb_flush_log_at_trx_commit = 2

innodb_flush_method = O_DIRECT

innodb_thread_concurrency = 128

